body {
  height: 100vh;
  height: 100svh;
}

.swift-logo {
  width: 2rem;
  height: 2rem;
}

.button-circle {
  width: 2rem;
  height: 2rem;
}

.terminal.xterm {
  padding: calc(1rem * 0.25);
  height: 100%;
}
