name: Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  FONTAWESOME_TOKEN: ${{ secrets.FONTAWESOME_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        run: |
          set -ex

          cd ./Playground

          IMAGE_TAG=kishikawakatsumi/power-assert.swiftfiddle.com:latest

          tar -czh . | docker build - --build-arg FONTAWESOME_TOKEN=${{ env.FONTAWESOME_TOKEN }} --rm --tag ${IMAGE_TAG}
          docker push ${IMAGE_TAG}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Install and configure the Koyeb CLI
        uses: koyeb-community/install-koyeb-cli@v2
        with:
          api_token: ${{ secrets.KOYEB_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to Koyeb
        run: koyeb service redeploy swift-power-assert/power-assert-swiftfiddle-com
