name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  DEVELOPER_DIR: /Applications/Xcode_14.3.app

jobs:
  build:
    runs-on: macos-13
    steps:
      - name: Install Swift
        uses: slashmo/install-swift@v0.4.0
        with:
          version: swift-5.9-DEVELOPMENT-SNAPSHOT-2023-05-07-a
      - uses: actions/checkout@v3
      - name: Build
        run: |
          export TOOLCHAINS=org.swift.59202305071a
          swift build
      - name: Run tests
        run: |
          swift test -Xswiftc -Xfrontend -Xswiftc -dump-macro-expansions --enable-code-coverage
          xcrun llvm-cov report \
            $(swift build --show-bin-path)/SwiftPowerAssertPackageTests.xctest/Contents/MacOS/SwiftPowerAssertPackageTests \
            -instr-profile=$(swift build --show-bin-path)/codecov/default.profdata \
            -ignore-filename-regex=".build|Tests" \
            -use-color
      - name: Publish code coverage
        uses: paambaati/codeclimate-action@v4.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
        coverageLocations: |
          ${{github.workspace}}/.build/debug/codecov/*.json:lcov-json
